body {
  font-family: Montserrat;
  text-align: center;
}

#events .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

#labs .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

.top-buffer {
  margin-right: 100px;
}

.text-event {
  text-align: justify;
  text-justify: inter-word;
}

.tab {
  margin-left: .5em
}

/* Container Section */
.container-fluid {
  padding: 7% 15%;
}

/* Sections */
.colored-section {
  background-color: #35635b;
  color: #fff;
}

/* ff4c68 */
.white-section {
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #8f8f8f;
}

/* Headings  */
.big-heading {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Navigation Bar  */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

.logo-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section  */
#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* Title Image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: #529471;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #35635b;
}

/* Testimonial Section */
#testimonials {
  background-color: #529471;
}

#events {
  background-color: #529471;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.event-text {
  font-size: 1rem;
  line-height: 1.5;
  padding: 0% 15%;
}

.testimonial-image {
  /* width: 50%;
  border-radius: 100%; */
  margin: 20px;
  height: 200px;
  width: 300px;
}

.testimonial-person-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.random-guy-image {
  margin: 20px;
  height: 200px;
  width: 200px;
}

#press {
  background-color: #529471;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA Section */
#cta {
  background-color: #35635b;
  color: #fff;
}

/* Footer Section */
.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
